<div class="maindiv">
    <div class="videodiv">
        <video src="../assets/evng.mp4" loop="" autoplay="" class="video1">
        </video>
    </div>
    <div class="box color1">
        <div class="single-box">
            <div class="div-left">
                <p data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                    <strong> H O N E Y M O O N
                        S U I T E</strong> <br> <br>
                    Stay into expansive space, comfort and understated luxury surpassed
                    by breathtaking views of Himalayas from your own private balcony. The
                    stunning vista and the pure lavishness of your honeymoon suite
                    will have you coming back for years to come.

                </p>
            </div>
            <div class="div-right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <img src="../assets/sid2.jpeg" alt="photo1 " />
            </div>
        </div>

    </div>

    <div class="box color2">
        <div class="single-box">
            <div class="div-left" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <img src="../assets/sid3.jpeg" alt="photo " />
            </div>
            <div class="div-right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <p>
                    <strong> P R E S I D E N T I A L
                        S U I T E</strong>
                    <br> <br> 
                    Sink into heaven of signature of
                    kingscloud luxury refined inimitable king size beds individual
                    showers, must have technology
                    perfectly aligned to create the
                    ultimate relaxation. You can enjoy exquisite and tranquil views of Himalayan landscape.

                </p>
            </div>


        </div>
    </div>

    <div class="box color1">
        <div class="single-box">
            <div class="div-left" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <p>
                    <strong> E X E C U T I V E R O O M </strong><br>
                    Executive Kings Room Welcomes you to an extravagantly dressed king size
                    bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas.<br> From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.
                </p>
            </div>
            <div class="div-right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <img src="../assets/sid1.jpeg" alt="photo1 " />
            </div>
        </div>

    </div>

    <div class="box color2">
        <div class="single-box">
            <div class="div-left" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <img src="../assets/outerview1.jpg" alt="photo " />
            </div>
            <div class="div-right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <p>The mountains clustered together like they were cold, and under all that snow
                    I don't doubt they were. I imagined them to shiver under their white coats,
                    the real cause of the avalanches perhaps. Perhaps in that rock they think in the way
                    timeless creatures must, with no regard for time, no concept of what it must be to hurry,
                    be anxious or sad. 
                    
                </p>
            </div>
        </div>

    </div>

    <div class="box color1">
        <div class="single-box">
            <div class="div-left" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <p> <br>
                    The tree stood ghost-like, the silent observer of the snowy mountains, the river and the clouds.
                    The only thing bigger than range of granite peaks was the midnight sky, dotted with silver
                    and as vast as any eye could wander.
                    Below stood a girl, made all the more tiny, her red dress flimsy in the wind.
                </p>
            </div>
            <div class="div-right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
                <img src="../assets/outerview3.jpg" alt="photo1 " />
            </div>
        </div>
    </div>
</div>