<div class="maindiv">
    <div class="box color1">
        <div class="single-box">
            <div class="div-left" data-aos="fade-up-left">
                <p>
                    E X E C U T I V E R O O M
                    Executive Kings room welcomes you to an extravagantly dressed king size bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas. From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.
                </p>
            </div>
            <div class="div-right" data-aos="fade-up-right">
                <img src="../assets/executive.jpg" alt="photo1 " />
            </div>
        </div>

    </div>

    <div class="box color2">
        <div class="single-box">
            <div class="div-left" data-aos="fade-up-right">
                <img src="../assets/room3.jpg" alt="photo " />
            </div>
            <div class="div-right" data-aos="fade-up-left">
                <p>
                    E X E C U T I V E R O O M
                    Executive Kings room welcomes you to an extravagantly dressed king size bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas. From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.

                </p>
            </div>


        </div>

    </div>

    <div class="box color3">
        <div class="single-box">
            <div class="div-left">
                <p>
                    E X E C U T I V E R O O M
                    Executive Kings room welcomes you to an extravagantly dressed king size bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas. From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.
                </p>
            </div>
            <div class="div-right">
                <img src="../assets/presedential.jpg" alt="photo1 " />
            </div>
        </div>

    </div>

    <div class="box color4">
        <div class="single-box">
            <div class="div-left">
                <img src="../assets/room4.jpg" alt="photo " />
            </div>
            <div class="div-right">
                <p>
                    E X E C U T I V E R O O M
                    Executive Kings room welcomes you to an extravagantly dressed king size bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas. From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.

                </p>
            </div>


        </div>

    </div>

    <div class="box color5">
        <div class="single-box">
            <div class="div-left">
                <p>
                    E X E C U T I V E R O O M
                    Executive Kings room welcomes you to an extravagantly dressed king size bed and fully appointed
                    bathroom providing the perfect
                    backdrop for your trip of
                    Himalayas. From the balcony of
                    Superior Kings suite delivers a
                    diverse and spectacular vista of
                    fine Himalayan scenery.
                </p>
            </div>
            <div class="div-right">
                <img src="../assets/honeymoon1.jpg" alt="photo1 " />
            </div>
        </div>

    </div>


</div>