.maindiv
{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	
}
.video1
{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
    top:0;
    left:0;
	width:100%;
}
.videodiv
{
	height: 100vh;
}

.box
{
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	overflow-y:hidden;
}
.single-box .div-left
{
	width: 49%;
	height: auto;
	float: left;
	text-align: center;
	margin-top: 100px;
	

}
.single-box .div-right
{	width: 49%;
	height: auto;
	float: right;
	text-align: center;
	padding-top: 0px;
	margin-top: 100px;
	
	
}
p{
	padding: 20% 10%;
	font-size: 25px;
	color: goldenrod;
	font-weight: 800;
	
}
img{
	padding: 20% 5% 0% 5%;
	border-radius: 40px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 20px;

}

.color1
{
	background: black;
	margin-top: 134px;
}
.color2
{
	background: #fff;
}

.content1
{
	font-size: 1.4em;
	font-weight: 900;
	text-align: center;
	
}
.conent2
{
margin-top: 10px;
}
.content3
{
	
}