<div id="footer">
    <ul class="links">
        <li>
            <a href="#contactus">CONTACT US</a>
        </li>
        <li>
            <a href="#facebook">FACEBOOK</a>
        </li>
        <li>
            <a href="#instagram">INSTAGRAM</a>
        </li>
    </ul>
    <hr>
    <ul class="privacy">
        <li class="privacylink1">
            PRIVACY
        </li>

        <li class="privacylink1">
            TERMS & CONDITION
        </li>
        <li class="privacylink1">
            © 2020 Hotels. All Rights Reserved.
        </li>
    </ul>
</div>