<div>
    <div>
        <nav id="nav-bar">
            <ul class="nav-list">
                <li>
                    <a routerLink="/" class="nav-hover">Home</a>
                </li>
                <li>
                    <a routerLink="/contactus" class="nav-hover">Contact Us</a>
                </li>
                <li>
                    <a routerLink="/reservations" class="nav-hover">Reservations</a>
                </li>
                <li>
                    <a routerLink="/explore" class="nav-hover"> Explore</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/varsha.bisht86" class="nav-hover"> Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/kingscloudmanali" class="nav-hover"> Instagram</a>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet #o="outlet"></router-outlet>
</div>