<div>
    <div>
        <nav id="nav-bar1">
            <ul class="nav-list">
                <li>
                    <a routerLink="/" class="nav-hover cool-link">Home</a>
                </li>
                <li>
                    <a routerLink="/contactus" class="nav-hover  cool-link">Contact Us</a>
                </li>
                <li>
                    <a routerLink="/reservations" class="nav-hover cool-link">Near By</a>
                </li>
                <li>
                    <a routerLink="/explore" class="nav-hover  cool-link "> Explore Us</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/kingscloudmanali/" class="nav-hover1">
                        <img src="../assets/fb_logo.png" width="80px" height="75px" /> </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/kingscloudmanali" class="nav-hover1">
                        <img src="../assets/insta_logo.png" width="60px" height="60px" /></a>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet #o="outlet"></router-outlet>
</div>