<div class="maindiv">
    <div class="box color1">
        <div class="div-left">
            <img src="../assets/oldmanali.jpg" alt="photo1 " />
            <div class="overlay">
                <div class="text"> <br>Old Manali may have the prefix “old”,
                    but it is way more awesome as compared to the main Manali town.
                    While latter is one of the busiest summer destinations in India,
                    the former is a breath of fresh air. <br>
                    Geographically, the only thing that separates Old Manali and
                    Manali is the Beas River but there is a complete
                    change of scene after you cross the river.
                </div>
            </div>
        </div>

        <div class="div-right">
            <img src="../assets/mallroad.jpg" alt="photo1 " />

            <div class="overlay">
                <div class="text"> <br>The Mall Road is the throbbing nerve street of Manali, and is lined with plenty
                    of hotels, eateries and shopping opportunities. <br>
                    That explains the top three things you can do around here - sleep, eat and shop.
                    Buzzing with activity throughout the day, especially during the peak summer season,
                    This is the perfect place to begin exploring Manali,
                    as your hotel is most likely to be around the corner.
                </div>
            </div>
        </div>
    </div>

    <div class="box color2">
        <div class="div-left">
            <img src="../assets/solang.jpg" alt="photo1 " />
            <div class="overlay">
                <div class="text"> <Br> Solang
                    When heading to Manali for a vacation,
                    two absolutely essential destinations in the itinerary are
                    Rohtang and Solang Valley.
                    14 kilometres to the north west of the main town of Manali,
                    Solang Valley is one of the most popular tourist destinations in
                    Himachal Pradesh. Situated on the way to Rohtang from Manali,
                    every year the valley welcomes tourists in huge numbers.<br>
                    A favourite for adventure enthusiasts, parachuting to paragliding,
                    horse riding to driving mini-open jeeps specially available for tourists of
                    all age groups, Solang Valley has it all.

                </div>
            </div>
        </div>

        <div class="div-right">
            <img src="../assets/rohtang.jpg" alt="photo1 " />

            <div class="overlay">
                <div class="text"> <br> The popular vistas point is well known for its unparalleled
                    natural beauty and is one of the most essential attraction points in the region.
                    The pass is located just 50 km away from the main town, and is easily accessible by road.
                    One of the major attractions of Rohtang La is that it is one of the highest passes
                    in the Himalayas. Located at a staggering height of 3978 meters above sea level,
                    the pass offers some of the most pristine views of the Himalayas you will ever get to sea.<br>

                    As your car climbs on the Manali-Keylong road on your way to Rohtang La,
                    you will see a dramatic change in the scenery around you, and the stunning
                    landscape will leave you breathless.
                </div>
            </div>
        </div>
    </div>

    <div class="box color1">
        <div class="div-left">
            <img src="../assets/vanvihar.jpg" alt="photo1 " />
            <div class="overlay">
                <div class="text"> <br>VAN VIHAR

                    The Van Vihar Park is beautifully adorned by deodar trees and is a perfect place
                    to spend memorable time with loved ones. A number of locals and tourists visit
                    the park to relax and get the fresh breeze of the Deodar trees.<br>
                    The main attraction of the park is the beautiful man-made lake situated in
                    the middle of the woods. Tourists can enjoy boating in the lake.
                    There are also lot of swings for the children as well as couples in the park.
                    The River Beas runs nearby the park. Visit the park in the evening and you will
                    get a chance to enjoy the stunningly beautiful view of sun setting against
                    the glorious backdrop of the majestic mountains.


                </div>
            </div>
        </div>

        <div class="div-right">
            <img src="../assets/vyas.jpg" alt="photo1 " />

            <div class="overlay">
                <div class="text"> <br>The river bears testimony of many documented and 
                    undocumented historical events. It was the eastern limit of Alexander 
                    the Great's invasion of India in 326 BC.<br> The tranquil environs of the river and
                     riversides have incited many great sages, including Vashisht, Narad, Vishwamitra, Vyas, 
                     Prashar and Parshuram to meditate in the ancient times. Even today, the River Beas reflects 
                     the same charm, attracting tourists and pilgrims from different parts of 
                    the country to pay it a visit once in their lifetime.
                </div>
            </div>
        </div>
    </div>

    <div class="box color2">
        <div class="div-left">
            <img src="../assets/manumandir.jpg" alt="photo1 " />
            <div class="overlay">
                <div class="text"> <br>Situated in Old Manali, on the banks of the Beas river, Manu Temple is 3 km from
                    the main market. Legend says that it is the only existing pilgrimage site dedicated to Manu who,
                    according to the Hindu mythology, is the creator of the human race on Earth.<br>

                    Manu is believed to have arrived in the region after 7 cycles of creation and destruction. According
                    to devotees, the site of the temple is where the sage meditated after setting foot on earth.
                    Reaching the temple involves a rigorous walk through slippery stone paths..
                </div>
            </div>
        </div>

        <div class="div-right">
            <img src="../assets/monastary.jpg" alt="photo1 " />

            <div class="overlay">
                <div class="text"> <br>
                    There are three important Tibetan Monasteries in Manli - 
                    The Gadhan Thekchoking Gompa, Himalayan Nyingamapa Temple and 
                    the other one at Aleo on the left bank of Beas River.<br>
                    
                    The Gadhan Thekchoking Gompa is situated near the Mall in Manali.
                     The monastery is run by the local people who gather funds through donations. 
                     The unique feature of the monastery is the handicrafts of Tibetan artistry and the carpets 
                     that are woven and sold in the monastery. The Gadhan Thekchoking Gompa was constructed in 
                     the year 1969. The architecture of the monastery represents the Tibetan style of 
                     architecture designed with hued frescoes. The statue of the Lord Buddha presides in the monastery.
                    .
                </div>
            </div>
        </div>
    </div>

    <div class="box color1">
        <div class="div-left">
            <img src="../assets/hadimba.jpg" alt="photo1 " />
            <div class="overlay">
                <div class="text"> <br>Located amidst the snow-covered hills of Manali,
                    the Hadimba Temple is a unique shrine dedicated to Hidimba Devi,
                    who was the wife of Bhima and mother of Ghatothkach. Surrounded by gorgeous cedar forests,
                    this beautiful shrine is built on a rock which is believed to be in the image of goddess
                    Hidimba herself.<br> The construction style of the Hidimba Devi temple is entirely different from
                    that of any of the other temples, with its wooden doorways, walls, and cone-shaped roof.
                    This temple is a fitting dedication to its presiding deity Hadimba.
                </div>
            </div>
        </div>

        <div class="div-right">
            <img src="../assets/kasol.jpg" alt="photo1 " />

            <div class="overlay">
                <div class="text"> <br>A small village in Himachal situated along the banks of the river Parvati, 
                    Kasol is a tourist attraction that is rapidly gaining fame as a very popular hub for trekkers, 
                    backpackers, and nature lovers. Commonly known as the 'Amsterdam of India',
                     this quaint little village is resplendent in natural scenic beauty.<br>
                      Situated 23 kms from Bhuntar and next to the religious town of Manikaran,
                       Kasol is one of the best places in the country just to sit back and chill in 
                       the panorama of snow-clad mountains, pine trees and gurgling river..
                </div>
            </div>
        </div>
    </div>

</div>