<div>
    
    <h1>CONTACT DETAILS</h1>
    <p>
        Hotel KingsCloud Manali<br><br><br>H O T E L
        Sajjanu Ville, Rangri, Simsa Manali,
Himachal Pradesh - 175131, India

        1 9 0 2 - 2 5 2 5 2 7,
        854471020<br><br>
        W W W . K I N G S C L O U D H O T E L . C O M <br><br>
        CORPORATE@KINGSCLOUD.IN <br><br><br>
        R E G I O N A L
O F F I C E<br>

        Opp. Delfryn Hotel, Log Huts Area,
Manali, Himachal Pradesh - 175131,
India.<br>

        Rangri,Manali
        Himanchal Pradesh <br><br>

        C O R P O R A T E
O F F I C E <br>F-2, First Floor, Plot No. 387. Shalimar
Garden Ext.1, Gaziabad, Uttar Pradesh
- 201005, India.

    </p>


</div>