<div class="main">
    <video src="../assets/morning.mp4" autoplay="" loop="" class="video-background">
    </video>
    <div class="weather-class">
        <div class="weather-data">{{WeatherData.temp_celsius}}</div>
        <div class="weather-data">{{WeatherData.feels_like}}</div>
        <div class="weather-data">{{WeatherData.name}}</div>

    </div>
    <div id="msg">
        <p class="message">---NAMASTE INDIA! --- </p>
        <p class="message"> WELCOME TO KINGSCLOUD MANALI</p>
        <hr>
    </div>
</div>