<div class="main">
    <video src="../assets/morning.mp4" autoplay="" loop="" class="video-background">
    </video>
    <div class="weather-class">
        <div class="weather-data">{{'Current Temperature:'}} {{WeatherData.temp_celsius}}</div>
        <div class="weather-data">{{'Feels Like::'}} {{WeatherData.feels_like}}</div>
        <div class="weather-data">{{'Place:'}} {{WeatherData.name}}</div>
    </div>
    <div class="msg1" >
        <p class="message1" data-aos="fade-left" data-aos-easing="ease-in-sine"  data-aos-duration="2000">---NAMASTE INDIA!---</p>
            <p class="message2"  data-aos="fade-right" data-aos-easing="ease-in-sine"  data-aos-duration="2000">--WELCOME TO MANALI--</p>
    </div>
</div>
<div class="whychoose">
    <p class="kings">K I N G S C L O U D   MANALI</p>
    <div class="content1">
        <p class="message" data-aos="fade-down" data-aos-easing="ease-in-sine"  data-aos-duration="2000">
            We are committed to providing our guest with
            memorable journeys inspired by exquisite
            Himalayan flair. We believe life should be lived
            with style, and our Himalayan flair puts
            Kingscloud in a unique position to satisfy the
            expectation of the stylish and discerning
            traveler.</p>
        <p class="message" data-aos="fade-up" data-aos-easing="ease-in-sine"  data-aos-duration="2000">
             It's not just to simply provide a hotel
            bed and a meal, at KingsCloud it's about
            bringing a story to life. We are wholeheartedly
            committed to providing perfection for our guest
            at every moment and in every way, we are
            personally responsible for creating rich and
            meaningful experiences for our guest. <br>

            A GREAT ESCAPE TO THE HIMALAYAS
            NEITHER TOO FAR NOR TOO CLOSE TO
            THE HUSTLE & BUSTLE OF THE CITY.
            <br>
            Kingscloud is situated in Manāli, 1.9 km from Mall
            Road and 2 km from Tibetan Monastery. The
            property is set 2.8 km from Hadimba Devi Temple
            Kingscloud is surrounded by apple orchards and
            grassfields offering panoramic view of Manali & Rohtang Pass in its own world.......
        </p>
    </div>
</div>

<div class="services">
    <p class="content2">
        S E R V I C E S  &  F A C I L I T I E S
    </p>

        <p class="content3" data-aos="fade-up" data-aos-easing="ease-in-sine"  data-aos-duration="1500">
            24-Hours Reception<br>
            24-Hour Travel Desk <br>
            Free Parking<br>
            In-House Laundry<br>
            Multi Cuisine Restaurant <br>
            In Room Library <br>
            Concierge available on request <br>
            Food Takeaway available <br>
            Public Restrooms <br>
            Fax & Photocopying Services <br>
            An Outdoor relaxing area in the lush green garden <br>
            Newspaper 7/days a week <br>
            Multi-lingual staff<br>
        </p>
</div>